node_modules
.DS_Store

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
# SQLite databases
dev.sqlite
*.sqlite
*.sqlite-journal
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
.env.*


# ignore shopify.app.pencil-shop.toml file
shopify.app.pencil-shop.toml

/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock